html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #3f4247;
    background-image: url('../images/black-linen.png')
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
}

/*************************************************** STEP CSS ***************************************************/
.stepIcon {
    margin-right: 10px;
    font-size: 35px;
    color: #74474f;
}

.stepHeader {
    background-color: #f8f8f8;
    cursor: pointer;
}

.stepHeaderLeft {
    border: 2px solid #cecece;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.stepHeaderMiddle {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}

.stepHeaderRight {
    border: 2px solid #cecece;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/******************************************** HEADER, NAVBAR, FOOTER CSS ********************************************/

#mainHeader {
    width: 100%;
    background-color: #131111;
}

#mainNavbar {
    width: 100%;
    background-color: #131111;
}

#mainHeader img {
    cursor: pointer;
}

.nav-item {
    color: white !important;
}

.customFooter {
    background: rgba(255, 255, 255, .3)
}

/*************************************************** CARD CSS ***************************************************/
.collapseHeader {
    background-color: #444;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 2px 20px;
    margin-top: 5px;
}

.collapseBody {
    background-color: #dbdbdb;
    padding: 2px 20px;
    display: none;
}

/*************************************************** OTHERS CSS ***************************************************/

.formEmployee {
    border-radius: 10px;
}

.formEmployeeHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#internalContent {
    height: 100%;
    width: 90%;
    background: rgba(255, 255, 255, .8);
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    margin-bottom: 82px;
}

.parallax {
    /* The image used */
    background-image: url("../images/mansao.jpg");
    /* Set a specific height */
    min-height: 500px;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: none;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        min-height: 200px;
        background-attachment: scroll;
    }
    #internalContent {
        width: 100%;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}