html {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #3f4247;
    background-image: url('../images/black-linen.png');
}

#principal {
    min-height: 100%;
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
}


/*************************************************** STEP CSS ***************************************************/

.stepIcon {
    margin-right: 10px;
    font-size: 35px;
    color: #74474f;
}

.stepHeader {
    background-color: #f8f8f8;
    cursor: pointer;
}

.stepHeaderLeft {
    border: 2px solid #cecece;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.stepHeaderMiddle {
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}

.stepHeaderRight {
    border: 2px solid #cecece;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/******************************************** HEADER, NAVBAR, FOOTER CSS ********************************************/

#mainHeader {
    width: 100%;
    background-color: #131111;
}

#mainNavbar {
    width: 100%;
    background-color: #131111;
}

#mainHeader img {
    cursor: pointer;
}

.nav-item {
    color: white !important;
}

.customFooter {
    background: rgba(255, 255, 255, .3)
}

.myPage {
    display: none;
}

li p {
    cursor: pointer;
}


/*************************************************** CARD CSS ***************************************************/

.collapseHeader {
    background-color: #444;
    cursor: pointer;
    color: white;
    text-align: center;
    padding: 2px 20px;
    margin-top: 5px;
}

.collapseBody {
    background-color: #dbdbdb;
    padding: 2px 20px;
    display: none;
}


/*************************************************** OTHERS CSS ***************************************************/

.formEmployee {
    border-radius: 10px;
}

.formEmployeeHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#internalContent {
    height: 100%;
    width: 90%;
    background: rgba(255, 255, 255, .8);
    margin-left: auto;
    margin-right: auto;
}

.mainContent {
    margin-bottom: 82px;
    padding-right: 0px;
    padding-left: 0px;
}

#logotipo {
    max-width: 100vw;
    height: auto;
    width: 100%;
}

.formLogin {
    padding: 10px;
}

#filterOptions {
    background: rgba(56, 56, 56, .5);
    color: white;
    padding: 15px;
    margin: 5px;
    margin-bottom: 20px;
}

.imgProp {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.imgPresentation {
    padding: 20px;
}

.myCard {
    max-width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.propertieImages {
    border-left: 1px solid grey;
}

.myDescriptionRow {
    border-top: 1px solid grey;
    padding: 20px;
    margin: 5px;
}

.myListImages {
    margin-top: 10px;
    border-radius: 10px;
}

@media only screen and (max-device-width: 800px) {
    #internalContent {
        width: 100%;
    }
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .propertieImages {
        border-left: 0px;
        border-top: 1px solid grey;
        margin-top: 5px;
    }
    #cardRow {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%;
        margin: 1.75rem auto;
    }
}

@media (max-width: 770px) {
    .propertieImages {
        border-left: 0px;
    }
}


/* Test */